body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    height: 100vh;
    background: url(../images/body-background.jpg) center no-repeat;
    background-size: cover;
}

.widget {
    color: #FFFFFF;
    max-width: 696px;
    min-height: 435px;
    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    background: url(../images/widget-background.png) no-repeat;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.top-block {
    text-align: left;
    float: right;
    margin-right: 44px;
    margin-top: 78px;
}

.top-block__item {
    display: inline-block;
    vertical-align: top;
    padding-right: 24px;
}

.current-week-day {
    font-size: 25px;
    margin: 0;
}

.current-date {
    font-size: 12px;
    margin: 0;
}

.weather-degree {
    font-size: 92px;
    line-height: 92px;
}

.weather-degree:after {
    content: "\00b0";
    font-size: 44px;
    vertical-align: top;
    line-height: 44px;
}

.weather-area {
    font-size: 22px;
    margin: 0;
}

.wind-information {
    margin-top: 23px;
}

.wind-information__item {
    display: inline-block;
}

.wind-picture {
    margin-right: 10px;
}

.wind-value {
    font-size: 25px;
    margin: 0;
}

.wind-speed {
    font-size: 12px;
}

.bottom-block {
    text-align: center;
    position: absolute;
    bottom: 15px;
    margin: 0 auto;
    padding: 10px 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.bottom-block__item {
    display: inline-block;
    vertical-align: middle;
}

.weather-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.weather-list__item {
    display: inline-block;
    vertical-align: top;
    padding: 0 30px;
    border-right: 1px solid #FFFFFF;
}

.weather-list__item:last-child {
    border-right: 0;
}

.week-days {
    margin: 0;
    font-size: 12px;
}

.degrees {
    margin: 0;
    font-size: 12px;
}

.font-bold {
    font-weight: 700;
}